body {
  position: relative;
  height: 100%;
}

body {
  background: #212529;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #D6DBDF;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 100px;
  padding-bottom:220px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #D6DBDF; /* Cor do fundo do indicador */
}

